@font-face {
    font-family: SF-Pro-Display-light;
    src: url("SF Pro/SF-Pro-Display-Light.otf");
}


@font-face {
    font-family: SF-Pro-Display-Semibold;
    src: url("SF Pro/SF-Pro-Display-Semibold.otf");
}

@font-face {
    font-family: SF-Pro-Text-Medium;
    src: url("SF Pro/SF-Pro-Text-Medium.otf");
}


@font-face {
    font-family:SF-Pro-Text-Bold;
    src: url("SF Pro/SF-Pro-Text-Bold.otf");
}


@font-face {
    font-family: SF-Pro-Text-Regular;
    src: url("SF Pro/SF-Pro-Text-Regular.otf");
}