body{
    margin:0;
    padding:0;
    font-size:100%;
    line-height: 1.6;
    height: 100%;

}
html{
    height: 100%;
    background: #FAFAFA;
}


*, *:before, *:after {
    box-sizing: inherit;
}
/*--nav---*/


/*-- SPLIT SCREEN---*/


#wrapper{
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
}

.layer{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    overflow: hidden;
}

.layer .content-wrap{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
}

.layer .content-body{
    width: 25%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    color: black;
    font-family: SF-Pro-Display-light;
}


.iphonefrontblk, .iphonefrontwht {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iphonelandscape{
    position: absolute;
    width: 24%;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.iphoneface{
    position: absolute;
    width: 24%;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.layer h1{
    font-size: 2em;
    font-family: SF-Pro-Display-Semibold;
}

.bottom{
    background: url("../image/iphoneWp.jpg") no-repeat center;
    background-size: cover;
    z-index: 1;
}


.bottom .content-body{
    right: 5%;
}

.bottom h1{
    color: black;
}


.top{
    background: url("../image/iphonewp2.png") no-repeat center;
    background-size: cover;
    z-index: 2;
    width: 50vw;
}

.top .content-body{
    left: 5%;
    color: #222222;
}

.handle{
    position: absolute;
    height: 100%;
    display: block;
    background: #52A8EA;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}


.skewed .handle{
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
}

.skewed .top{
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content-wrap{
    transform: skew(30deg);
    margin-left: 1000px;
}

/*--mobile---*/
.mobilehalf{
    background:url("../image/mobileiphone2.jpeg") no-repeat center;
    background-size: cover;
    height: 100%;
    display: none;
    position: relative;
}

.writingleft{
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: SF-Pro-Text-Medium;
}

.writingright{
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: SF-Pro-Text-Medium;
    color: white;
}

/*---X LOGO --*/

.text-container{
    background: #FAFAFA;
    height: 100%;
    position: relative;

}

.theX {
    font-size:400px;
    font-family: SF-Pro-Display-Semibold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    color: rgba(225,225,225, .1);
    background: url("../image/iphoneWp.jpg") repeat-x bottom;
    background-size: cover;
    -webkit-background-clip:text;
    animation: animate 4s linear infinite;
    text-align: center;
    text-transform: uppercase;
}


@keyframes animate {
    0% {
        background-position: right 10px top 100px;
    }
    100% {
        background-position: left 300px top 80px;
    }
}





/*---title--*/


.texttitle{
    position: relative;
    display: block;
    padding:  60px 30px;
    text-align: center;

}
.texttitle h1{

    font-family: SF-Pro-Text-Bold;
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.009em;
}




.texttitle p{

    font-family: SF-Pro-Display-light;
    font-size: 27px;
    font-weight: bold;
    word-wrap: break-spaces;
}

li{
    padding:  10px;
    list-style-type: none;
    display: inline-block;
    font-family: SF-Pro-Text-Regular;
    font-size: 27px;
    color: #1072C6;

}

.texttitle a{
    text-decoration: none;
}





/*---Display page ---*/

.screenpagetitle{
    position: relative;
    display: block;
    padding:  60px 30px;
    text-align: center;
    font-family: SF-Pro-Text-Bold;
    background: #FAFAFA;
}


 .itsallscreen{
     font-size: 4em;
     line-height: 0;
 }
.cornerimg{
    background: url("../image/design_hero_large_2x.jpg") no-repeat ;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 60vh;
    width: 98.8vw;
    background-position: bottom right;




}


/*---retinadisplay---*/


.retinatext {
    position: relative;
    font-family: SF-Pro-Text-Bold;
    line-height: 1.21053;
    font-weight: 600;
    letter-spacing: .012em;
    height: 100%;

}
.retinatext h1 {
    position: absolute;
    font-size: 19px;
    top: 12%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.retinatextp {
    position: absolute;
    font-family: SF-Pro-Text-Medium;
    text-align: center;
    font-size: 32px;
    width: 50%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iphone1 img{
    position: absolute;
    width: auto;
    height: 100vh;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%)


}
/*--FADING AOS--*/


.texttitle img{

    height: 200px;
    width: auto;
}




/*---footer---*/

footer{
    padding: 20px;
    font-family: SF-Pro-Text-Regular;
    width: 20%;
}

footer a{
    text-decoration: none;
}

footer i{
    font-size: 50px;
    color: black;
}

footer i:hover{
    color: #1072C6;
    transition: 1s;
}


/*--MEDIA QUERY---*/

@media (max-width:768px) {
    body{
        font-size: 75%;
    }
}


@media  (max-width: 667px) {
    #wrapper{
    display: none;
    }
    .mobilehalf{
        display: block;

    }
    li{
        font-size: 15px;
        text-align: center;
    }
    li i{
        display: block;
    }


    .theX h1 {
        font-size: 300px;
    }

    .texttitle h1{
        font-size: 48px;
        line-height: 1.08365;
        font-weight: 600;
        letter-spacing: -.003em;
        text-align: left;
    }

    .texttitle p{
        font-size: 24px;
        line-height: 1.33349;
        font-weight: 600;
        letter-spacing: .009em;
        float: left;
        text-align: left;
    }
    .texttitle ul{
        text-align: left;
    }

    .texttitle img{
        height: 350px;
        width: auto;
    }
    .screenpagetitle{
        font-size: 1.2em;
        line-height: .5;
        text-align: left;
    }
    .cornerimg{
        background: url("https://images.apple.com/v/iphone-x/e/images/overview/primary/design_hero_small_2x.jpg") no-repeat;
        background-size: cover;
        height: 50vh;
        width: 88.4vw;
        margin-left: 42px;
    }

    .itsallscreen{
        font-size: 2.5em;
    }
    .retinatexth1{
        position: absolute;
        top: 2%;
        width: 60%;
        transform: translate(50%, 0%);
        padding-top: 30px;

    }

    .retinatextp{
        font-size: 20px;
        width: 80%;
        text-align: left;
    }

    .iphone1 img{
        height: 50%;
        width: auto;
        top: 65%;
    }

    footer{
        width: 100%;
    }

}



